<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <div class="card p-3">
      <h3>Login</h3>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input type="text" formControlName="email" placeholder="email" class="form-control mb-2" required />
        <input type="password" formControlName="password" placeholder="Password" class="form-control mb-2" required />
                 <!-- Remember Me Checkbox -->
                   <!-- Remember Me Checkbox -->
          <div class="form-check mb-3 d-flex align-items-center">
            <input 
              type="checkbox" 
              formControlName="rememberMe" 
              id="rememberMe" 
              class="form-check-input me-2" 
            />
            <label for="rememberMe" class="form-check-label mb-0">
              Remember Me
            </label>
          </div>
        <button type="submit" class="btn btn-primary w-100 mb-2" [disabled]="!this.loginForm.valid" >Login</button>
        <p *ngIf="apiErrorMessage" class="text-danger">{{ apiErrorMessage }}</p>
      </form>
      <p class="text-center">OR</p>
      <p class="text-center">
        Don't have an account? 
        <a  (click)='goToRegistration()' class="text-primary">Register here</a>
      </p>
    </div>
  </div>

  
